{% load static %}

<div class="container">
    <div class="row main_photo" style="background-image: url( {% static 'img/main_photo.png' %} );">
        <div class="col-xl-1"></div>
        <div class="col-xl-6">
            <div class="main_photo_info">
                <div class="main_photo_title margin-t88">
                    <p>Find a tutor in minutes</p>
                    <h1>Spend less time and become better with online learning</h1>
                </div>
                <p class="main_photo_desc">Once you use the form below, you get an opportunity to find out new in different fields in minutes.</p>
                <div class="main_photo_form">
                    <p class="main_color">What do you whant to learn?</p>
                    <div class="form_naw">
                        <!-- insert form here -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7"></div>
    </div>
</div>