{% load static %}

<div class="container margin-t96">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="h1_medium main_color margin-b32">TOSO is</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="main_info_card d-flex">	
                <img src="{% static 'img/card1.png' %}" alt="" class="cadr_photo">
                <div class="card_desc">
                    <div class="card_text">
                        <h1 class="h2_medium main_color">2 500+</h1>
                        <p>Tutors</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="main_info_card d-flex">	
                <img src="{% static 'img/card2.png' %}" alt="" class="cadr_photo">
                <div class="card_desc">
                    <div class="card_text">
                        <h1 class="h2_medium main_color">12 000+</h1>
                        <p>Students</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="main_info_card d-flex">	
                <img src="{% static 'img/card3.png' %}" alt="" class="cadr_photo">
                <div class="card_desc">
                    <div class="card_text">
                        <h1 class="h2_medium main_color">8 000+</h1>
                        <p>Amaying reviews</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>