{% load static %}

<div class="container margin-t96">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="h1_medium main_color margin-b32">Why have you to choose the TOSO?</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-xl-3">
            <div class="main_principle_card acent_back">
                <div class="height-24"></div>
                <div class="icon_circle d-flex justify-content-center align-items-center icon_acent_circle">
                    <img src="{% static 'img/principle1.svg' %}" alt="">
                </div>
                <div class="main_principle_text">
                    <h2 class="h2_medium main_color text_acent">Study wherever</h1>
                    <p class="text_acent">You can learn in any place in the whole world</p>
                </div>
            </div>
        </div>


        <div class="col-xl-3">
            <div class="main_principle_card main_principle_border">
                <div class="height-24"></div>
                <div class="icon_circle d-flex justify-content-center align-items-center">
                    <img src="{% static 'img/principle2.svg' %}" alt="">
                </div>
                <div class="main_principle_text">
                    <h2 class="h2_medium main_color">Choose a tutor for free</h1>
                    <p>Look for thousand of positions of experienced tutors</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="main_principle_card main_principle_border">
                <div class="height-24"></div>
                <div class="icon_circle d-flex justify-content-center align-items-center">
                    <img src="{% static 'img/principle3.svg' %}" alt="">
                </div>
                <div class="main_principle_text">
                    <h2 class="h2_medium main_color">All in one place</h1>
                    <p>Any subject, you can want to learn, you can find here</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="main_principle_card main_principle_border">
                <div class="height-24"></div>
                <div class="icon_circle d-flex justify-content-center align-items-center">
                    <img src="{% static 'img/principle4.svg' %}" alt="">
                </div>
                <div class="main_principle_text">
                    <h2 class="h2_medium main_color">Start in minutes</h1>
                    <p>You just have to register and find a tutor you want</p>
                </div>
            </div>
        </div>
    </div>
</div>