{% load static %}

<div style="background: rgba(223, 224, 255, 0.2);">
	<div class="container margin-t96 padding-t96">
		<div class="row">
			<div class="col-xl-5">
				<h1 class="h1_medium main_color margin-b32">Find out what our students say about the TOSO</h1>
			</div>
		</div>
		<div class="row padding-b96">
			<div class="col-xl-1">
				<div class="button_area_left">
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselServises_commentsControls" data-bs-slide="prev">
						<div class="test_but" aria-hidden="true">
						</div>
					</button>
				</div>
				
			</div>	
			<div class="col-xl-10">
				<div id="carouselServises_commentsControls" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="row">
								<div class="col-xl-4">
									<div class="d-flex main_principle_border border_12">
										<img src="{% static 'img/avatar.png' %}" alt="" class="margin-l24 margin-t24 comment_photo">
										<div>
											<div class="comment_content">
												<h2 class="h2_medium">Amazing!!</h2>
												<p class="subtitle margin-b16 some_text">Inna’s review in the math field</p>
												<p class="p_regular some_text">The Dropbox HQ in San Francisco is one of the best designed & most comfortable offices I have ever witnessed. Great stuff! If you happen to visit SanFran, don't miss the chance to witness it yourself. </p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="d-flex main_principle_border border_12">
										<img src="{% static 'img/avatar.png' %}" alt="" class="margin-l24 margin-t24 comment_photo">
										<div>
											<div class="comment_content">
												<h2 class="h2_medium">Thank you</h2>
												<p class="subtitle margin-b16 some_text">Inna’s review in the math field</p>
												<p class="p_regular some_text">I had I was very sad this day. There were friendly people at the bar that engaged with me. Interactions with people was very well needed. I enjoyed a great Long Island ice tea,some tasty vegetarian nachos, and sat by the water</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="d-flex main_principle_border border_12">
										<img src="{% static 'img/avatar.png' %}" alt="" class="margin-l24 margin-t24 comment_photo">
										<div>
											<div class="comment_content">
												<h2 class="h2_medium">WOW</h2>
												<p class="subtitle margin-b16 some_text">Inna’s review in the math field</p>
												<p class="p_regular some_text">Love their drink specials. Bartenders super nice. Spent a week at UCSF and this was a very nice break for the parental unit.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="carousel-item">
							<div class="row">
								<div class="col-xl-4">
									<div class="d-flex main_principle_border border_12">
										<img src="{% static 'img/avatar.png' %}" alt="" class="margin-l24 margin-t24 comment_photo">
										<div>
											<div class="comment_content">
												<h2 class="h2_medium">Amazing!!</h2>
												<p class="subtitle margin-b16 some_text">Inna’s review in the math field</p>
												<p class="p_regular some_text">The Dropbox HQ in San Francisco is one of the best designed & most comfortable offices I have ever witnessed. Great stuff! If you happen to visit SanFran, don't miss the chance to witness it yourself. </p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="d-flex main_principle_border border_12">
										<img src="{% static 'img/avatar.png' %}" alt="" class="margin-l24 margin-t24 comment_photo">
										<div>
											<div class="comment_content">
												<h2 class="h2_medium">Thank you</h2>
												<p class="subtitle margin-b16 some_text">Inna’s review in the math field</p>
												<p class="p_regular some_text">I had I was very sad this day. There were friendly people at the bar that engaged with me. Interactions with people was very well needed. I enjoyed a great Long Island ice tea,some tasty vegetarian nachos, and sat by the water</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="d-flex main_principle_border border_12">
										<img src="{% static 'img/avatar.png' %}" alt="" class="margin-l24 margin-t24 comment_photo">
										<div>
											<div class="comment_content">
												<h2 class="h2_medium">WOW</h2>
												<p class="subtitle margin-b16 some_text">Inna’s review in the math field</p>
												<p class="p_regular some_text">Love their drink specials. Bartenders super nice. Spent a week at UCSF and this was a very nice break for the parental unit.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col-xl-4">
									<div class="d-flex main_principle_border border_12">
										<img src="{% static 'img/avatar.png' %}" alt="" class="margin-l24 margin-t24 comment_photo">
										<div>
											<div class="comment_content">
												<h2 class="h2_medium">Amazing!!</h2>
												<p class="subtitle margin-b16 some_text">Inna’s review in the math field</p>
												<p class="p_regular some_text">The Dropbox HQ in San Francisco is one of the best designed & most comfortable offices I have ever witnessed. Great stuff! If you happen to visit SanFran, don't miss the chance to witness it yourself. </p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="d-flex main_principle_border border_12">
										<img src="{% static 'img/avatar.png' %}" alt="" class="margin-l24 margin-t24 comment_photo">
										<div>
											<div class="comment_content">
												<h2 class="h2_medium">Thank you</h2>
												<p class="subtitle margin-b16 some_text">Inna’s review in the math field</p>
												<p class="p_regular some_text">I had I was very sad this day. There were friendly people at the bar that engaged with me. Interactions with people was very well needed. I enjoyed a great Long Island ice tea,some tasty vegetarian nachos, and sat by the water</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="d-flex main_principle_border border_12">
										<img src="{% static 'img/avatar.png' %}" alt="" class="margin-l24 margin-t24 comment_photo">
										<div>
											<div class="comment_content">
												<h2 class="h2_medium">WOW</h2>
												<p class="subtitle margin-b16 some_text">Inna’s review in the math field</p>
												<p class="p_regular some_text">Love their drink specials. Bartenders super nice. Spent a week at UCSF and this was a very nice break for the parental unit.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
			<div class="col-xl-1">
				<div class="button_area_right">
					<button class="carousel-control-next" type="button" data-bs-target="#carouselServises_commentsControls" data-bs-slide="next">
						<div class="test_but" aria-hidden="true"></div>
					</button>
				</div>
				
			</div>	
		</div>
	</div>
</div>