{% load static %}

<div class="container margin-t96">
    <div class="row">
        <div class="col-xl-6">
            <img src="{% static 'img/tutor.png' %}" alt="" class="super_tutor">
        </div>
        <div class="col-xl-1"></div>
        <div class="col-xl-5 d-flex align-items-center">
            <div class="content">
                <h1 class="h1_medium">Are you a super-tutor?</h1>
                <p class="subtitle margin-b32">And would you like to receive a good salary?</p>

                <p class="p_regular margin-b12">You can start a career with the TOSO. Just go to the link below and complete a simple registration and you can get more than 1000 euros per month.</p>
                <p class="p_regular margin-b12">All things that we are waiting from you it is:</p>
            </div>
        </div>
    </div>
</div>