<div class="button">
    <a href="/">
        <p class="naw_button">Home page</p>
    </a>
</div>

<div class="button">
    <a href="">
        <p class="naw_button">How it works</p>
    </a>
</div>

<div class="button">
    <a href="">
        <p class="naw_button">Find classes</p>
    </a>
</div>

<div class="button">
    <a href="">
        <p class="naw_button">Became a teacher</p>
    </a>
</div>

<div class="button">
    <a href="">
        <p class="naw_button">About us</p>
    </a>
</div>